<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Group meeting in Olomouc, Zlín and other Moravian cities. Join us for the next event!">

  <meta property="og:title" content="Rust Moravia" />
  <meta property="og:description" content="Group meeting in Olomouc, Zlín and other Moravian cities. Join us for the next event!" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://rust-moravia.cz" />
  <meta property="og:image" content="https://rust-moravia.cz/img/sohaj-ferris.svg" />

  <title>Rust Moravia</title>
  <link rel="stylesheet" href="{{ get_url(path='style/bootstrap.min.css') }}"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ get_url(path='style/slab-one.css') }}"/>
</head>

<body>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

<script type="text/javascript" src="{{ get_url(path='script/bootstrap.min.js') }}"></script>
</html>
