{% extends "base.html" %}

{% block content %}

{% set next_event = load_data(path="data/next_event.json") %}
{% set past_events = load_data(path="data/past_events.json") %}

<div class="row my-4">
  <div class="col-sm-12 col-md-4 mx-auto text-center">
    <h1 class="title">
    Rust Moravia
    </h1>
  </div>
</div>
<div class="row mb-4">
  <div class="col-sm-12 col-md-4 mx-auto text-center">
    <div class="card" class="m-4">
      <div class="card-header">
        <h4>Next Event</h4>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <a href="{{ next_event.link }}">{{ next_event.name }}</a>
        </h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          <i class="bi-calendar-event"></i>
          {{ next_event.date | date(format="%d.%m.%Y") }}
          <i class="bi-clock ms-1"></i>
          {{ next_event.date | date(format="%H:%M") }}
          <i class="bi-geo-alt ms-1"></i>
          {{ next_event.city }}
        </h6>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4">
  <div class="col-sm-12 col-md-4 mx-auto text-center">
    <div class="card" class="m-4">
      <div class="card-header">
        <h4>Past Events</h4>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          {% for past_event in past_events %}
          <li class="list-group-item">{{ past_event.name }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="row text-center">
      <div class="col-md-4 mx-auto align-items-center my-4 py-3 border-top">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <i class="bi-bootstrap"></i>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
      </div>
  </div>
</footer>
{% endblock content %}
