{% extends "base.html" %}

{% block content %}

{% set next_event = load_data(path="data/next_event.json") %}
{% set past_events = load_data(path="data/past_events.json") %}

<header>
  <div class="row my-4">
    <div class="col-10 col-sm-8 col-md-6 col-lg-4 mx-auto text-center border-bottom">
      <img
        src="{{ get_url(path='img/sohaj-ferris.svg') }}"
        alt="Ferris the crab dressed as a proper 'Šohaj'"
        class="m-4"
        />
      <h1 class="alfa-slab-one-regular">Rust Moravia</h1>
      <p class="lead">
        Group meeting in Olomouc, Zlín and other Moravian cities. 
        <a href="https://www.meetup.com/rust-moravia/">Join us</a> for the next event!
      </p>
    </div>
  </div>
</header>
<div class="row mb-4">
  <div class="col-10 col-sm-8 col-md-6 col-lg-4 mx-auto text-center">
    <div class="card" class="m-4">
      <div class="card-header">
        <h4>Next Event</h4>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <a href="{{ next_event.link }}">{{ next_event.name }}</a>
        </h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          <i class="bi-calendar-event"></i>
          {{ next_event.date | date(format="%d.%m.%Y") }}
          <i class="bi-clock ms-1"></i>
          {{ next_event.date | date(format="%H:%M") }}
          <i class="bi-geo-alt ms-1"></i>
          {{ next_event.city }}
        </h6>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4">
  <div class="col-10 col-sm-8 col-md-6 col-lg-4 mx-auto text-center">
    <div class="card" class="m-4">
      <div class="card-header">
        <h4>Past Events</h4>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          {% for past_event in past_events %}
          <li class="list-group-item"><a href="#">{{ past_event.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="row text-center">
      <div class="col-10 col-sm-8 col-md-6 col-lg-4 mx-auto align-items-center mb-4 py-3 border-top">
        <p class="text-body-secondary text-decoration-none lh-1">
          Powered by
          <a href="https://getbootstrap.com/" class="text-body-secondary text-decoration-none">
            <i class="bi-bootstrap"></i>
          </a>,
          <a href="https://github.com/marekpsenka/rust-moravia.cz" class="text-body-secondary text-decoration-none">
            <i class="bi-github"></i>
          </a>
          and <a href="https://getzola.org" class="text-body-secondary text-decoration-none">Zola</a>.
          Built by
          <a href="https://github.com/marekpsenka" class="text-body-secondary text-decoration-none">marekpsenka</a>.
          Domain provided by
          <a href="https://edhouse.cz/en" class="text-body-secondary text-decoration-none">edhouse</a>.
        </p>
      </div>
  </div>
</footer>
{% endblock content %}
